appdirs
autopep8
beautifulsoup4
black
certifi
chardet
click
Flask
Flask-Cors
gunicorn
idna
itsdangerous
Jinja2
joblib
lxml
MarkupSafe
mypy-extensions
nltk
numpy
pandas
pathspec
pickle-mixin
pycodestyle
python-dateutil
pytz
regex
requests
scikit-learn
scipy
six
soupsieve
threadpoolctl
tmdbv3api
toml
tqdm
typed-ast
typing-extensions
urllib3
webencodings
Werkzeug